{% extends "main_app/wrapper.html" %}

{% block content %}
    {% for team in object_list %}
        <a href="{{team.alias}}"><h1>{{team.alias}}</h1></a>
        <h3>{{team.full_name}}</h3>
    {% endfor %}
{% endblock %}